.header-nav-body {
    margin-bottom: -4px;
}

@media (min-width: 414px) {
    .mobile-mode-footer{
        display: none !important;
    }
  }

.header-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.avatar-md {
    width: 2.25rem;
    height: 1.85rem;
}

.header-link>ul>li:hover {
    background-color: rgba(210, 210, 252, 0.594);
    border-radius: 5px;
    text-decoration: line-through;
}

.header-icon {
    width: 2.8rem;
    font-size: 1.35rem;
}

html:not([dir=rtl]) .breadcrumb-item+.breadcrumb-item::before {
    content: var(--cui-breadcrumb-divider, ">") !important;
}

.header-text {
    font-size: 0.65rem;
    padding-top: 0;
}

.header-nav .show > .nav-link, .header-nav .nav-link.active {
    color: var(--link-color);
}

.header-nav .show > .nav-link, .header-nav .nav-link.active > .header-text{
    color: var(--link-color);
}
